<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#shareModal">
  Share with friends
</button>

<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Share this thing</h4>
      </div>
      <%= simple_form_for :share, url: share_content_path(@content) do |f| %>
        <div class="modal-body">
          <%= f.input :email %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.button :submit, 'Share', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<ul>
  <% @content.attachments.each do |attachment| %>
    <li><%= image_tag attachment.image.url, class: "thumbnail" %></li>
  <% end %>
</ul>

<p><%= @content.url_html %></p>

<%= link_to "My Library", contents_path, class: 'btn btn-link' %>